Repository jessety/eslint-config: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write '**/*.{ts,js,mjs,cjs}', prettier --write '**/*.json', prettier --write '**/*.yml', prettier --write '**/*.md', sort-package-json, prettier --write 'package.json'

2.2.2
  package.json
Due: prettier --write '**/*.json', sort-package-json, prettier --write 'package.json'

Auto format js files
  .lintstagedrc.json
Due: prettier --write '**/*.json'

Bump deps
  package.json
Due: prettier --write '**/*.json', sort-package-json, prettier --write 'package.json'

Format code
  base.eslintrc.json
  javascript.eslintrc.json
Due: prettier --write '**/*.json'

2.2.3
  package.json
Due: prettier --write '**/*.json', sort-package-json, prettier --write 'package.json'

Update minimum ESLint and Node versions
  package.json
Due: prettier --write '**/*.json', sort-package-json, prettier --write 'package.json'

2.2.4
  package.json
Due: prettier --write '**/*.json', sort-package-json, prettier --write 'package.json'

Workaround for ESLint dependency issue
  base.js
  javascript.js
  package.json
  patch.js
  strict.js
  tests/index.test.js
Due: prettier --write '**/*.{ts,js,mjs,cjs}', prettier --write '**/*.json', sort-package-json, prettier --write 'package.json'

2.2.5
  package.json
Due: prettier --write '**/*.json', sort-package-json, prettier --write 'package.json'

Add React support
  README.md
  package.json
  react.js
Due: prettier --write '**/*.{ts,js,mjs,cjs}', prettier --write '**/*.json', prettier --write '**/*.md', sort-package-json, prettier --write 'package.json'

2.3.0
  package.json
Due: prettier --write '**/*.json', sort-package-json, prettier --write 'package.json'

Adjust rules
  .eslintrc.js
  .lintstagedrc.json
  base.eslintrc.json
  javascript.eslintrc.json
  package.json
  react.js
  strict.js
Due: prettier --write '**/*.{ts,js,mjs,cjs}', prettier --write '**/*.json', sort-package-json, prettier --write 'package.json'

2.4.0
  package.json
Due: prettier --write '**/*.json', sort-package-json, prettier --write 'package.json'

Adjust rules:
  .eslintrc.js
  base.eslintrc.json
Due: prettier --write '**/*.{ts,js,mjs,cjs}', prettier --write '**/*.json'

2.4.1
  package.json
Due: prettier --write '**/*.json', sort-package-json, prettier --write 'package.json'

Update CI/CD pipeline actions
  .github/workflows/ci.yml
Due: prettier --write '**/*.yml'

Path conditions:
  prettier --write '**/*.{ts,js,mjs,cjs}': any of: *.{ts,js,mjs,cjs}
  prettier --write '**/*.json': any of: *.json
  prettier --write '**/*.yml': any of: *.yml
  prettier --write '**/*.md': any of: *.md
  sort-package-json: any of: package.json
  prettier --write 'package.json': any of: package.json
